body{
    background-color: black;
    margin: 0;
    padding: 0;
}

.servos{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../img/barem.jpg');
    background-size: cover;
    background-position: center;
    
}

.navbar-brand{
    color: #a20218!important;
    font-size: 40px;
    font-weight: bold;
    float: left;
}

.navbar-nav{
    padding: 20px;
}

.nav-item{
    font-size: 20px;
    padding: 10px;
}

.nav-link{
    color: white !important;
}


.nav-link:hover{
    color: #a20218 !important;
}


.container{
    padding: 20px;
}

a {
    padding: 20px;
    color:white;
}


.trian{
    padding-top: 40px;
}

.quentin{
    border-radius: 50px;
    padding: 15px;
    size: 35px;
    width: 200px;
    background-color: #a20218; 
    font-size: 20px;
    font-weight: bold;
    border: 1px solid black;
    
}

.quentin:hover{
	color: white;
	background: black;
}

hr{
    border-color: #a20218;
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 8%;
}


#flex{
    color:white;
}


.ultimate{
    padding: 10px;
    text-align: center;
}



.ultimate h1{
    font-size: 60px;
    letter-spacing: 4px;
    color: white;
    line-height: 5rem;
}



.ultimate p{
    color: #fff;
    line-height: 1.7rem;
}



.row{
    text-align: center;
    
}



.row small{
  
    font-size: 12px;
}



.col-md{
    padding-top: 4rem;
}



#help{
	padding-top: 2rem;
	margin: 40px;
}


  
.helper h2{
    font-size: 70px;
    font-weight: bold;
    color: #D9D9D9;
    opacity: .5;

}

.card{
	background: grey;
    size: 140px;
    width: 73%;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-left: 40px;
}

#hope{
	width: 73%;
	height: 500px;
	margin: 70px;
    padding-bottom: 2rem;
    background: #252525;
}

.card-text{
	color: white;
}

#hope img{
	width: 100%;
	height: 230px;
}

.revron{
	padding-top: 13rem;
	margin: 90px;
}

.card1{
    border: 0;
    border-radius: 0;
}

#bank{
	background: #141414;
	color: grey;
	border-radius: 30px;
}


#contact{
	margin: 40px;
}



.btn{
    border-radius: 50px;
    padding: 15px;
    size: 35px;
    width: 100px; 
    background-color: #a20218; 
    font-size: 10px;
    font-weight: bold;   
}

.btn:hover{
	color: white;
	background: black;
}

.footer{
	color: white;
	margin: auto;
	background-color: #141414;
	padding: 20px;
	text-align: center;
}




@media (max-width: 600px) {
    .ultimate{
        padding-top: 50px;
        margin: auto;
    }
    .ultimate h1{
        font-size: 25px;
        
    }
    .ultimate p{
        font-size: 15px;
    }

    .helper h2{
        font-size: 40px;
    }

    .trian{
        margin: 0px;
        padding: 0px;
    }

}



